<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavanusha.worldapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Bengali" android:screenOrientation="landscape"/>
        <activity android:name=".Devanagari" android:screenOrientation="landscape"/>
        <activity android:name=".English" android:screenOrientation="landscape"/>
        <activity android:name=".Gujarathi" android:screenOrientation="landscape"/>
        <activity android:name=".Hindi" android:screenOrientation="landscape"/>
        <activity android:name=".Kanada" android:screenOrientation="landscape"/>
        <activity android:name=".Malayalam" android:screenOrientation="landscape"/>
        <activity android:name=".Tamil" android:screenOrientation="landscape"/>
        <activity android:name=".Telugu" android:screenOrientation="landscape"/>

        <activity android:name=".Content" android:screenOrientation="landscape"/>
        <activity android:name=".EContent" android:screenOrientation="landscape"/>

        <activity android:name=".BAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".BAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".BBirds" android:screenOrientation="landscape"/>
        <activity android:name=".BColors" android:screenOrientation="landscape"/>
        <activity android:name=".BFruits" android:screenOrientation="landscape"/>
        <activity android:name=".BLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".BNos" android:screenOrientation="landscape"/>
        <activity android:name=".BPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".BProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".BShapes" android:screenOrientation="landscape"/>
        <activity android:name=".BSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".BVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".BVehicles" android:screenOrientation="landscape"/>

        <activity android:name=".EAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".EAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".EBirds" android:screenOrientation="landscape"/>
        <activity android:name=".EColors" android:screenOrientation="landscape"/>
        <activity android:name=".EFruits" android:screenOrientation="landscape"/>
        <activity android:name=".ELVeg" android:screenOrientation="landscape"/>
        <activity android:name=".ENos" android:screenOrientation="landscape"/>
        <activity android:name=".EPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".EProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".EShapes" android:screenOrientation="landscape"/>
        <activity android:name=".ESpicies" android:screenOrientation="landscape"/>
        <activity android:name=".EVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".EVehicles" android:screenOrientation="landscape"/>



        <activity android:name=".GAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".GAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".GBirds" android:screenOrientation="landscape"/>
        <activity android:name=".GColors" android:screenOrientation="landscape"/>
        <activity android:name=".GFruits" android:screenOrientation="landscape"/>
        <activity android:name=".GLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".GNos" android:screenOrientation="landscape"/>
        <activity android:name=".GPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".GProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".GShapes" android:screenOrientation="landscape"/>
        <activity android:name=".GSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".GVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".GVehicles" android:screenOrientation="landscape"/>

        <activity android:name=".HAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".HAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".HBirds" android:screenOrientation="landscape"/>
        <activity android:name=".HColors" android:screenOrientation="landscape"/>
        <activity android:name=".HFruits" android:screenOrientation="landscape"/>
        <activity android:name=".HLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".HNos" android:screenOrientation="landscape"/>
        <activity android:name=".HPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".HProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".HShapes" android:screenOrientation="landscape"/>
        <activity android:name=".HSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".HVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".HVehicles" android:screenOrientation="landscape"/>


        <activity android:name=".KAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".KAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".KBirds" android:screenOrientation="landscape"/>
        <activity android:name=".KColors" android:screenOrientation="landscape"/>
        <activity android:name=".KFruits" android:screenOrientation="landscape"/>
        <activity android:name=".KLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".KNos" android:screenOrientation="landscape"/>
        <activity android:name=".KPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".KProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".KShapes" android:screenOrientation="landscape"/>
        <activity android:name=".KSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".KVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".KVehicles" android:screenOrientation="landscape"/>

        <activity android:name=".Malphabets" android:screenOrientation="landscape"/>
        <activity android:name=".MAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".MBirds" android:screenOrientation="landscape"/>
        <activity android:name=".MColors" android:screenOrientation="landscape"/>
        <activity android:name=".MFruits" android:screenOrientation="landscape"/>
        <activity android:name=".MLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".MNos" android:screenOrientation="landscape"/>
        <activity android:name=".MPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".MProfessions" android:screenOrientation="landscape" />
        <activity android:name=".MShapes" android:screenOrientation="landscape"/>
        <activity android:name=".MSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".MVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".MVehicles" android:screenOrientation="landscape"/>

        <activity android:name=".TAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".TAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".TBirds" android:screenOrientation="landscape"/>
        <activity android:name=".TColors" android:screenOrientation="landscape"/>
        <activity android:name=".TFruits" android:screenOrientation="landscape"/>
        <activity android:name=".TLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".TNos" android:screenOrientation="landscape"/>
        <activity android:name=".TPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".TProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".TShapes" android:screenOrientation="landscape"/>
        <activity android:name=".TSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".TVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".TVehicles" android:screenOrientation="landscape"/>


        <activity android:name=".TelAlphabets" android:screenOrientation="landscape"/>
        <activity android:name=".TelAnimals" android:screenOrientation="landscape"/>
        <activity android:name=".TelBirds" android:screenOrientation="landscape"/>
        <activity android:name=".TelColors" android:screenOrientation="landscape"/>
        <activity android:name=".TelFruits" android:screenOrientation="landscape"/>
        <activity android:name=".TelLVeg" android:screenOrientation="landscape"/>
        <activity android:name=".TelNos" android:screenOrientation="landscape"/>
        <activity android:name=".TelPlanets" android:screenOrientation="landscape"/>
        <activity android:name=".TelProfessions" android:screenOrientation="landscape"/>
        <activity android:name=".TelRelations" android:screenOrientation="landscape"/>
        <activity android:name=".TelShapes" android:screenOrientation="landscape"/>
        <activity android:name=".TelSpicies" android:screenOrientation="landscape"/>
        <activity android:name=".TelVegetables" android:screenOrientation="landscape"/>
        <activity android:name=".TelVehicles" android:screenOrientation="landscape"/>
    </application>


</manifest>